<div class="hugfill fal-v8 sec">

    <h2 id="file-details" class="font-sec-header color-textgray">File Details</h2>
    <div class="hugfill fal-h8 sec">

        <div class="hugfill fal-v7 sec">

            <div class="hugfill fal-v7 sec_5">
                <p class="hughug font-item-name bold">Name(s)</p>
                <p class="hugfill font-item-name">{{file.names|join(', ')}}</p>
            </div>

            <div class="hugfill fal-v7 sec_5">
                <p class="hughug font-item-name bold">Type</p>

                <div class="hugfill fal-h4 sec_5">
                    <p class="hughug font-item-name">{{file.type}}</p>
                    <form class="hugfill sec new-item" method="post" action="{{url_for('FilesView:change_type', id=file._id)}}">
                        <button type="button">{% with stroke="var(--color-textgray)" %}{% include "includes/icons/Pencil.html" %}{% endwith %}</button>
                        <input class="fillhug fal-h4 font-item-name" type="text" name="type" value="" maxlength="32">
                        <p class="padding font-item-name">p</p>
                    </form>
                </div>
            </div>

            {% if not file.type == 'url' %}
            <div class="hugfill fal-v7 sec_5">
                <p class="hughug font-item-name bold">Detailed Type</p>
                <p class="hugfill font-item-name">{{file.detailed_type}}</p>
            </div>
            <div class="hugfill fal-v7 sec_5">
                <p class="hughug font-item-name bold">Mime</p>
                <p class="hugfill font-item-name">{{file.mime}}</p>
            </div>
            {% if file.size %}
            <div class="hugfill fal-v7 sec_5">
                <p class="hughug font-item-name bold">Size</p>
                <p class="hugfill font-item-name">{{file.size}} bytes</p>
            </div>
            {% endif %}
            {% endif %}
        </div>

        <div class="hugfill fal-v7 sec">
        {% if not file.type == 'url' %}
            <div class="hugfill fal-v7 sec_5">
                <p class="hughug font-item-name bold">MD5</p>
                <p class="hugfill font-item-name">{{file.md5}}</p>
            </div>
            <div class="hugfill fal-v7 sec_5">
                <p class="hughug font-item-name bold">SHA1</p>
                <p class="hugfill font-item-name">{{file.sha1}}</p>
            </div>
            <div class="hugfill fal-v7 sec_5">
                <p class="hughug font-item-name bold">SHA256</p>
                <p class="hugfill font-item-name">{{file.sha256}}</p>
            </div>
        {% endif %}
        </div>
    </div>
    <div class="hugfill fal-h8">

        {% if file.type != 'url' and file.type != 'hash' %}

            <a class="hughug fal-h4 button-function" href="{{ url_for('FilesView:download', id=file._id) }}">
                {% include "includes/icons/Download.html" %}
                <p class="font-item-name">Download</p>
            </a>

            {# antivirus module:
                Method Not Allowed
                The method is not allowed for the requested URL. #}
            {# {% for module in av_modules %}
                <li id="av-sent-{{module}}" {% if not file.antivirus[module] %}class="hidden"{% endif %} 
                    {% if file.antivirus[module] is string %}
                    data-toggle="tooltip" data-placement="top" title="{{file.antivirus[module]}}"
                    {% endif %}>
                    <i class="fa fa-check text-success"></i> {{module}}
                </li>

                <li id="av-sendto-{{module}}" {% if file.antivirus[module] %}class="hidden"{% endif %}>
                    <a class="av-submission-link" href="{{ url_for('FilesView:submit_to_av', id=file._id, module=module) }}"
                    data-module="{{module}}">
                        <i class="fa fa-send"></i> Send to {{module}}
                    </a>
                </li>
            {% endfor %} 
            <script src="{{ url_for('static', filename='js/fame-file.js') }}"></script>
            <script>
                $('[data-toggle="tooltip"]').tooltip();
            </script> #}
        {% endif %}

    </div>
</div>

<div class="hugfill fal-v8 sec">

    <h2 id="sharing" class="font-sec-header color-textgray">Sharing</h2>
    <div class="hugfill fal-hw4 sec_5">
        {% for group in file.groups %}
            <form class="hughug fal-h4 item" method="post" action="{{url_for('FilesView:remove_group', id=file._id)}}">
                <button class="hughug fal-h4" type="submit">
                    <p class="font-item-name">{{group}}</p>
                    <div class="hughug">
                        {% with stroke="var(--color-textgray)" %}{% include "includes/icons/Cross.html" %}{% endwith %}
                    </div>
                </button>
                <input type="text" name="group" value="{{group}}" />
            </form>
        {% endfor %}

        <form class="hughug fal-h4 sec new-item" method="post" action="{{url_for('FilesView:add_group', id=file._id)}}">
            <button type="button">{% include "includes/icons/Plus.html" %}</button>
            <input class="fillhug font-item-name" type="text" name="group" value="" maxlength="32"/>
            <div class="padding item"><button><p class="font-item-name">p</p></button></div> <!-- this redundant hierarchy is for css -->
        </form>
    </div>
</div>


{% if comments_enabled %}
<div class="hugfill fal-v8 sec">

    <h2 id="comments" class="font-sec-header color-textgray">Comments</h2>

    {% for comment in file.comments %}
    {# NOTE: this section will use `white-space: pre;`, so be carful when formatting #}
    <div class="hugfill fal-h4 comment sec_5">
        <div class="fillfix fal-h7 head sec_5">
            {% if comment.analyst %}<img class="avatar" src="{{comment.analyst._id|avatar}}" />{% endif %}

            <div class="fillfill fal-v7">
                {% if comment.analyst %}<p class="hugfill font-item-name bold">{{comment.analyst.name}}</p>{% endif %}
                {% if comment.analysis %}
                <p class="fillfill font-item-name color-textgray">when browsing <a href="{{ url_for('AnalysesView:get', id=comment.analysis) }}">this analysis</a></p>
                {% endif %}
            </div>
        </div>

        <div class="hugfill fal-va7 content sec_25">
            {% if comment.probable_name %}<p class="hugfill font-item-name color-textgray">Add Probable Name: <span class="bold">{{comment.probable_name}}</span></p>{% endif %}
            
            <p class="hugfill font-item-name">{{comment.comment}}</p>
            
            <button class="hugfill fal-v8 open-prompt" type="button" onclick="
                    this.classList.toggle('active');
                    this.parentElement.parentElement.classList.toggle('active');
                    this.parentElement.classList.toggle('sec_25'); this.parentElement.classList.toggle('sec');
            ">
                {% with stroke="var(--color-textgray)" %}{% include "includes/icons/OpenPrompt.html" %}{% endwith %}
            </button>
        </div>

        <div class="fillhug fal-v2"><p class="hughug font-item-name color-textgray">{{comment.date|date}}</p></div>
    </div>
    {% endfor %}

    <form class="hugfill fal-h8 comment-form sec2" method="post" action="{{url_for('FilesView:add_comment', id=file._id)}}">
        <div class="hugfill fal-v7 sec_5">
            {% if analysis %}
            <input type="hidden" name="analysis" value="{{analysis._id}}" />
            {% endif %}

            {% if current_user.has_permission('add_probable_name') %}
            <div class="hugfill fal-h4 input-frame">
                <input class="hugfill font-item-name" type="text" class="form-control" name="probable_name" value="" placeholder="Probable malware family name, optional">
            </div>
            {% endif %}

            <div class="hugfill fal-h4 input-frame">
                <textarea class="hugfill font-item-name" type="text" name="comment" placeholder="Comment" required></textarea>
            </div>
        </div>

        <div class="fillhug fal-v5 sec">
            <div class="hughug fal-h5 notify sec_5">
                <div class="hugfix fal-v7 message">
                    <p class="hugfill font-item-name color-textgray">When enabled, analyst will be notified by mail about the new comment.</p>
                </div>
                <p class="hughug font-item-name color-textgray">Notify</p>
                <input type="checkbox" name="notify" unchecked>
            </div>
            <button type="submit">
                {% include "includes/icons/Send.html" %}
            </button>
        </div>
    </form>
</div>
{% endif %}
    
{# {% if file.probable_names %}
    <h4 class="probable-names">Probable Name(s): {{file.probable_names|join(', ')}}</h4>
{% endif %}

<div class="row" id="file-details">
    <div class="col-md-12">

        <div class="card">

            <div class="content">
                
                {% if file.parent_analyses %}
                    <div class="row">
                        <div class="col-sm-2 text-right"><strong>Parent Analyses</strong></div>
                        <div class="col-sm-10">
                            {% for analysis in file.parent_analyses %}
                                <div><a href="{{ url_for('AnalysesView:get', id=analysis) }}">{{analysis}}</a></div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <div class="footer">
                    <br />
                    <hr>
                    <div class="stats">
                        <ul>
                            {% if request.endpoint == 'AnalysesView:get' %}
                                <li><a href="{{ url_for('FilesView:get', id=file._id)}}"><i class="pe-7s-note2"></i> All analyses</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> #}