@import url("https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:400|Inter:300|Roboto+Mono:300");

/* General */
.flex-all,
.flex-all * {
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-shrink: 0;
  position: relative;
  box-sizing: border-box;
  overflow: visible;
  word-break: break-word;
  margin:  0rem;
  padding: 0rem;
  border: 0rem;
  background-repeat: no-repeat;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;

  /* RWD */
  font-size: 16px;
}

head,
script {display: none;}

a {text-decoration: none;}
p {display: block; color: var(--color-black);}
button {background-color:transparent;}

input {filter: none;}
input:focus {outline: none;}
input:autofill {background: transparent;}


/* Scrollbar */
::-webkit-scrollbar {
  height: 0.625rem;
  width: 0.625rem;
}
::-webkit-scrollbar-thumb {
  background: var(--color-textgray);
  border: 0.2rem solid var(--color-white);
  border-radius: 0.625rem;
}
::-webkit-scrollbar-thumb:hover {
  box-shadow: var(--clicked-option);
}