.menu {
  width: 210px;
  gap: 5px;

  background-color: #ffffff;
  box-shadow: var(--menu);
}

.menu>.head {
  width: 195px;

  background-color: #ffffff;
  border-radius: 0px 0px 20px 20px;
  box-shadow: var(--menu);
}
.menu>.head .font-fame {
  font-size: 32px;
}

.menu>.content {
  overflow-y: scroll;
}

.menu>.content .options {
  gap: 3px;
}

.menu>.content .options>a {
  height: 42px;
  
  padding: 0px 0px 0px 20px;
  background-color: #ffffff;
  border-radius: 0px 20px 20px 0px;
}
.menu>.content .options>a.current,
.menu>.content .options>a:hover,
.menu>.content .histories>a:hover,
.menu>.content .show-more:hover {
  transition: 0.1s ease-out;
  box-shadow: var(--clicked-option);
}

.menu>.content .recent-analyses {
  gap: 5px;
  padding: 10px 12px;
}

.menu>.content .histories {
  height: 166px;

  padding: 10px 0px;
  background-color: var(--colors-backgroundgray);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: inset 0px 0px 2px #00000040;
}

.menu>.content .histories>a {
  height: 45px;
  justify-content: space-between;
  padding: 0px 15px;
}

.menu>.content .show-more {
  padding: 3px 5px;
  border-radius: 25px;
}

.menu>.content .show-more>p {
  color: var(--colors-textgray);
}



.main {
  gap: 15px;
  padding: 15px 10px;
}

.main>.head {
  padding: 0px 30px;
}

.main>.head .head-frame {
  background-color: var(--colors-backgroundgray);
  border-radius: 25px;
  box-shadow: var(--menu);
}

.main>.head .search {
  border-radius: 25px;
  background-image: url("../img/Magnifier.svg");
  background-repeat: no-repeat;
  background-position: top 50% left 10px;
  background-size: 20px;
  
  transition: 0.3s;
  padding-left: 35px;
}
.main>.head .search::placeholder {
  color: var(--colors-textgray);
}
.main>.head .search:focus {
  box-shadow: var(--clicked-option);
  background-size: 0px;
  padding-left: 15px;
}

.main>.head img.avatar {
  width: 35px;
  height: 35px;

  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0px 0px 2px 1px #00000080;
  overflow: hidden;
}

.main>content {
  gap: 30px;
  padding: 10px 30px;
}