.menu {
  width: 210px;
  gap: 5px;

  background-color: #ffffff;
  box-shadow: var(--menu);
}

.menu .menu-head {
  width: 195px;

  background-color: #ffffff;
  border-radius: 0px 0px 20px 20px;
  box-shadow: var(--menu);
}

.menu .menu-content {
  overflow-y: scroll;
}

.menu .menu-options {
  gap: 3px;
}

.menu .menu-option {
  height: 42px;
  
  padding: 0px 0px 0px 20px;
  background-color: #ffffff;
  border-radius: 0px 20px 20px 0px;
}
.menu .menu-option.current {
  box-shadow: var(--clicked-option);
}
.menu .menu-option:hover {
  box-shadow: var(--clicked-option);
}

.menu .recent-analyses {
  gap: 5px;
  padding: 10px 12px;
}

.menu .histories {
  height: 166px;

  padding: 10px 0px;
  background-color: var(--colors-backgroundgray);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: inset 0px 0px 2px #00000040;
}

.menu .history {
  height: 45px;
  justify-content: space-between;
  padding: 0px 15px;
}
.menu .history:hover {
  box-shadow: var(--clicked-option);
}

.menu .show-more {
  padding: 3px 5px;
  border-radius: 25px;
}
.menu .show-more:hover {
  box-shadow: var(--clicked-option);
}

.menu .show-more p {
  color: var(--colors-textgray);
}



.main {
  gap: 15px;
  padding: 15px 10px;
}

.main .main-head {
  padding: 0px 30px;
}

.main .head-frame {
  background-color: var(--colors-backgroundgray);
  border-radius: 25px;
  box-shadow: var(--menu);
  padding: 0px 0px 0px 15px;
}

.main .search-sec {
  padding: 5px;
  border-radius: 25px;
}
.main .search-sec::placeholder {
  color: var(--colors-textgray);
}
.main .search-sec:focus {
  box-shadow: var(--clicked-option);
}

.main img.avatar {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  box-shadow: 0px 0px 2px 1px #00000080;
  overflow: hidden;
}

.main .main-content {
  gap: 30px;
  padding: 10px 30px;
}