.main {
  justify-content: space-between;
  gap: 30px;
  padding: 100px 40px;
  overflow-y: scroll;
}

.tech-style-top {
  position: absolute;
  filter: blur(4px);
  width: 166px;
  height: 141px;
  top: -41px;
  left: -52px;
  overflow: hidden;
  transform: rotate(-77.38deg);
}

.tech-style-bottom {
  position: absolute;
  filter: blur(6px);
  width: 277px;
  bottom: -90px;
  right: -100px;
  transform: rotate(-49.13deg);
}