.login {
    gap: 30px;
    padding: 100px 40px;
    overflow-y: scroll;
  }
  
  .tech-style-top {
    position: absolute;
    filter: blur(4px);
    width: 166px;
    height: 141px;
    top: -41px;
    left: -52px;
    overflow: hidden;
    transform: rotate(-77.38deg);
  }
  .tech-style-bottom {
    position: absolute;
    filter: blur(6px);
    width: 277px;
    bottom: -90px;
    right: -100px;
    transform: rotate(-49.13deg);
  }
  
  
  
  .menu {
    width: 210px;
    
    gap: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ffffff;
    box-shadow: var(--menu);
  }
  
  .menu>.head {
    width: 195px;
  
    background-color: #ffffff;
    border-radius: 0px 0px 20px 20px;
    box-shadow: var(--menu);
  }
  .menu>.head .font-fame {
    font-size: 32px;
  }
  
  
  .menu>.content .options>a.active,
  .menu>.content .options>a:hover,
  .menu>.content .navigation-bar a:hover,
  .menu>.content .navigation-bar a.active,
  .menu>.content .histories>a:hover,
  .menu>.content .show-more:hover {
    box-shadow: var(--clicked-option);
  }
  .menu>.content .options {
    gap: 3px;
  }
  .menu>.content .options>a {
    height: 42px;
    
    padding-left: 20px;
    background-color: #ffffff;
    border-radius: 0px 20px 20px 0px;
  }
  
  .menu>.content .navigation-bar {
    gap: 3px;
    border-radius: 0px 20px 20px 0px;
    box-shadow: var(--carved-area);
    /* background-color: var(--color-backgroundgray); */
    overflow-y: scroll;
  }
  .menu>.content .navigation-bar a {
    padding: 5px 40px;
    border-radius: 0px 20px 20px 0px;
  }
  .menu>.content .navigation-bar p {
    color: var(--color-textgray);
  }
  
  .menu>.content .recent-analyses {
    gap: 5px;
    padding: 10px 12px;
  }
  
  .menu>.content .histories {
    padding: 10px 0px;
    background-color: var(--color-backgroundgray);
    border-radius: 20px;
    box-shadow: var(--carved-area);
  }
  .menu>.content .histories>a {
    height: 45px;
    padding: 0px 15px;
  }
  
  .menu>.content .show-more {
    padding: 3px 5px;
    border-radius: 25px;
    background-color: transparent;
  }
  
  .menu>.content .show-more>p {
    color: var(--color-textgray);
  }
  
  
  
  .main {
    gap: 15px;
    padding: 15px 10px;
    overflow: hidden;
    overflow-y: scroll;
  }
  
  .main>.head {
    padding: 0px 30px;
  }
  
  .main>.head .head-frame {
    gap: 20px;
  }
  
  .main>.head .search>input {
    border-radius: 25px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='23' viewBox='0 0 19 23' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.63001 1.91755C4.92953 1.91755 1.92862 4.91461 1.92862 8.61301C1.92862 12.3114 4.92953 15.3085 8.63001 15.3085C12.3305 15.3085 15.3314 12.3114 15.3314 8.61301C15.3314 4.91461 12.3305 1.91755 8.63001 1.91755ZM0.297852 8.61301C0.297852 4.01674 4.02769 0.289642 8.63001 0.289642C13.2323 0.289642 16.9622 4.01674 16.9622 8.61301C16.9622 13.2093 13.2323 16.9364 8.63001 16.9364C4.02769 16.9364 0.297852 13.2093 0.297852 8.61301Z' fill='%23888888'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.5373 21.0021L13.3415 15.0158C13.3171 14.981 13.255 14.897 13.1479 14.8205C13.0262 14.7336 12.8203 14.6405 12.5617 14.6764C12.4057 14.698 12.2871 14.7595 12.2063 14.816C12.1835 14.8319 12.1638 14.8475 12.147 14.8616C12.165 14.8464 12.1848 14.831 12.2063 14.816C11.8375 15.074 11.7478 15.5816 12.006 15.95L16.2017 21.9363C16.2261 21.9711 16.2882 22.0551 16.3953 22.1316C16.517 22.2185 16.723 22.3116 16.9815 22.2757C17.1375 22.254 17.2562 22.1926 17.3369 22.1361C17.3581 22.1213 17.3767 22.1068 17.3926 22.0934C17.3756 22.1077 17.357 22.122 17.3369 22.1361C17.7057 21.8781 17.7954 21.3704 17.5373 21.0021Z' fill='%23888888'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: top 50% left 10px;
    background-size: 20px;
    background-color: var(--color-backgroundgray);
    box-shadow: var(--menu);
    
    transition: 0.3s;
    padding: 0px 35px 0px;
  }
  .main>.head .search>input::placeholder {
    color: var(--color-textgray);
  }
  .main>.head .search>input:focus {
    box-shadow: var(--clicked-option);
    background-size: 0px;
    padding: 0px 15px 0px;
  }
  
  .main>.head .avatar {
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
  
    transition: 0.15s;
    box-shadow: var(--menu);
  }
  .main>.head .avatar:hover {
    box-shadow: var(--avatar);
  }
  .main>.head .avatar>img {
    width: 35px;
    height: 35px;
    object-fit: cover;
  }
  
  .main>.head .avatar-menu.active {  
    width: 50%;
    
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 110%;
    gap: 5px;
    padding: 10px 10px;
    overflow: hidden;
    border-radius: 25px;
    background-color: var(--color-backgroundgray);
    box-shadow: var(--menu);
  
    display: flex;
  }
  .main>.head .avatar-menu{
    display: none;
  }
  .main>.head .avatar-menu>a {
    height: 42px;
    
    background-color: #ffffff;
    border-radius: 20px;
    padding-left: 20px;
  }
  .main>.head .avatar-menu>a:hover {
    box-shadow: var(--clicked-option);
  }
  
  
  /* .main>.navigation-bar {
    gap: 15px;
    border-radius: 5px;
    overflow-x: scroll;
  }
  .main>.navigation-bar a {  
    padding: 5px 10px;
    background-color: var(--color-backgroundgray);
    border-radius: 10px;
    box-shadow: var(--clicked-option);
  }
  .main>.navigation-bar p {
    color: var(--color-textgray);
  } */
  
  
  .main>.content {
    gap: 30px;
    padding: 10px 30px;
  }