:root {
  /* Effect Styles */
  --clicked-option: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  --menu: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  --avatar: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
  --carved-area: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  
  /* Colors */
  --color-cancelled: rgba(255, 0, 0, 1);
  --color-waiting: rgba(255, 144, 0, 1);
  --color-pending: rgba(255, 192, 0, 1);
  --color-success: rgba(0, 224, 49, 1);
  --color-textgray: rgba(136, 136, 136, 1);
  --color-backgroundgray: rgba(251, 251, 251, 1);
  
  /* Width */
  --width-input-frame: 340px;
}


/* Figma Auto Layout */
.fal-h1{flex-direction:row;justify-content:flex-start;  align-items:flex-end;}
.fal-h2{flex-direction:row;justify-content:center;      align-items:flex-end;}
.fal-h3{flex-direction:row;justify-content:flex-end;    align-items:flex-end;}
.fal-h4{flex-direction:row;justify-content:flex-start;  align-items:center;}
.fal-h5{flex-direction:row;justify-content:center;      align-items:center;}
.fal-h6{flex-direction:row;justify-content:flex-end;    align-items:center;}
.fal-h7{flex-direction:row;justify-content:flex-start;  align-items:flex-start;}
.fal-h8{flex-direction:row;justify-content:center;      align-items:flex-start;}
.fal-h9{flex-direction:row;justify-content:flex-end;    align-items:flex-start;}

.fal-v1{flex-direction:column;justify-content:flex-end;   align-items:flex-start;}
.fal-v2{flex-direction:column;justify-content:flex-end;   align-items:center;}
.fal-v3{flex-direction:column;justify-content:flex-end;   align-items:flex-end;}
.fal-v4{flex-direction:column;justify-content:center;     align-items:flex-start;}
.fal-v5{flex-direction:column;justify-content:center;     align-items:center;}
.fal-v6{flex-direction:column;justify-content:center;     align-items:flex-end;}
.fal-v7{flex-direction:column;justify-content:flex-start; align-items:flex-start;}
.fal-v8{flex-direction:column;justify-content:flex-start; align-items:center;}
.fal-v9{flex-direction:column;justify-content:flex-start; align-items:flex-end;}

[class*="fal-h"]>.fillfill{align-self:stretch;  min-width:0;flex:1 1;}
[class*="fal-h"]>.fillfix{align-self:stretch;}
[class*="fal-h"]>.fillhug{align-self:stretch;   width:fit-content;}
[class*="fal-h"]>.fixfill{                      min-width:0;flex:1 1;}
[class*="fal-h"]>.fixhug{                       width:fit-content;}
[class*="fal-h"]>.hugfill{height:fit-content;   min-width:0;flex:1 1;}
[class*="fal-h"]>.hugfix{height:fit-content;}
[class*="fal-h"]>.hughug{height:fit-content;    width:fit-content;}

[class*="fal-v"]>.fillfill{min-height:0;flex:1 1; align-self:stretch;}
[class*="fal-v"]>.fillfix{min-height:0;flex:1 1;}
[class*="fal-v"]>.fillhug{min-height:0;flex:1 1;  width:fit-content;}
[class*="fal-v"]>.fixfill{                        align-self:stretch;}
[class*="fal-v"]>.fixhug{                         width:fit-content;}
[class*="fal-v"]>.hugfill{height:fit-content;     align-self:stretch;}
[class*="fal-v"]>.hugfix{height:fit-content;}
[class*="fal-v"]>.hughug{height:fit-content;      width:fit-content;}

/* Color */
.color-cancelled{color: var(--color-cancelled);}
.color-waiting{color: var(--color-waiting);}
.color-pending{color: var(--color-pending);}
.color-success{color: var(--color-success);}
.color-textgray{color: var(--color-textgray);}
.color-backgroundgray{color: var(--color-backgroundgray);}

/* Font Styles */
p.font-fame,
.font-fame::placeholder {
  font-family: "Ibarra Real Nova", Helvetica;
  font-weight: 400;
  font-size: 48px;
  font-style: normal;
  letter-spacing: 0;
  line-height: normal;
}

p.font-mn-opt,
.font-mn-opt::placeholder {
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0px;
  line-height: normal;
}

p.font-main-title,
.font-main-title::placeholder {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 32px;
  font-style: normal;
  letter-spacing: 0px;
  line-height: normal;
}

p.font-ava-mn-opt,
.font-ava-mn-opt::placeholder {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0px;
  line-height: normal;
}

p.font-item-name,
.font-item-name::placeholder {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  letter-spacing: 0px;
  line-height: normal;
}

p.font-sec-header,
.font-sec-header::placeholder {
  font-family: "Inter", Helvetica;
  font-weight: 300;
  font-size: 15px;
  font-style: normal;
  letter-spacing: 0px;
  line-height: normal;
}

p.font-hash-value,
.font-hash-value::placeholder {
  font-family: "Roboto Mono", Helvetica;
  font-weight: 300;
  font-size: 15px;
  font-style: normal;
  letter-spacing: 0px;
  line-height: normal;
  
  display: inline-block;
  width: 75px;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* sec */
.sec {
  gap: 5px;
}
.sec-name {
  color: var(--color-textgray);
}


/* input-frame */
.input-frame {
  width: var(--width-input-frame);

  border: 1px solid;
  border-color: #000000;

  transition: 0.2s ease-out;
  border-radius: 6px;
}
.input-frame>input {
  padding: 8px 15px;
  border-radius: 6px;
}
.input-frame::after {
  content: "";
	height: 2px;
  
	position: absolute;
	bottom: 0px;
	left: 50%;
  transform: translate(-50%, 0);
	background-color: var(--color-textgray);
  
	transition: 0.2s ease-out;
  width: 0;
}
.input-frame:focus-within {
  border-radius: 0px;
}
.input-frame:focus-within::after {
  width: 100%;
}

/* button */
.button-black {
  padding: 10px 15px;
  background-color: #000000;
  border-radius: 6px;
}
.button-black>p {
  color: #ffffff;
}
.button-black:hover {
  background-color: var(--color-textgray);
}

/* messages */
.messages {
  position: absolute;

  top: 10px;
  right: 10px;
  gap: 10px;
}
.messages .message {
  padding: 8px 15px;
  border-radius: 6px;
  border: 1px solid;
  border-color: #000000;
}