
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
        <meta name="viewport" content="width=device-width" />
    
        <title>FAME-Define password</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/globals.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styleguide.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    </head>
    <body class="flex-all fillfill fal-v5">
        <img class="tech-style-top" src="{{ url_for('static', filename='img/TechStyle.svg')}}" />
        <img class="tech-style-bottom" src="{{ url_for('static', filename='img/TechStyle.svg')}}" />

        <form class="fillfill fal-va8 login" method="post">
        
            <p class="fal-v8 font-fame">Define your password</p>
            <p style="font-size: 20px;" style="text-align: center;" style="color: gray">
                After defining, please login with email and your own password !</p>

            <div class="hugfill fal-v8 sec">
                <div class="hugfill fal-v8 sec">
                    <p class="font-sec-header color-textgray">Your Password</p>
                    <div class="hugfix fal-h4 input-frame">
                        <input type="password" name="password" placeholder="Password" class="form-control" required>
                    </div>
                </div>

                <div class="hugfill fal-v8 sec">
                    <p class="font-sec-header color-textgray">Confirm Password</p>
                    <div class="hugfix fal-h4 input-frame">
                        <input type="password" name="password_confirmation" placeholder="Password Confirmation" class="form-control" required>
                    </div>
                </div>
                
                <button type="submit" class="button-black">
                    <p class="font-mn-opt">Submit</p>
                </button>
                
            </div>
                          
        </form>

    </body>
</html>
