<div class="hugfill fal-v8 comments sec">
    <h2 id="comments" class="font-sec-header color-textgray">Comments</h2>

    {% for comment in file.comments %}
    {# NOTE: this section will use `white-space: pre;`, so be carful when formatting #}
    <div class="hugfill fal-h4 comment sec_5">
        <div class="fillfix fal-h7 head sec_5">
            {% if comment.analyst %}<img class="avatar" src="{{comment.analyst._id|avatar}}" />{% endif %}

            <div class="fillfill fal-v7">
                {% if comment.analyst %}<p class="hugfill font-item-name bold">{{comment.analyst.name}}</p>{% endif %}
                {% if comment.analysis %}
                <p class="fillfill font-item-name color-textgray">when browsing <br><a href="{{ url_for('AnalysesView:get', id=comment.analysis) }}">this analysis</a></p>
                {% endif %}
            </div>
        </div>

        <div class="hugfill fal-va7 content sec_25">
            {% if comment.probable_name %}<p class="hugfill font-item-name color-textgray">Adding Probable Family: <span class="bold">{{comment.probable_name}}</span></p>{% endif %}
            
            <p class="hugfill font-item-name">{{comment.comment}}</p>
            
            <button class="hugfill fal-v8 open-prompt" type="button" onclick="
                this.parentElement.parentElement.classList.toggle('active');
                this.parentElement.classList.toggle('sec_25'); this.parentElement.classList.toggle('sec');
            ">
                {% with stroke="var(--color-textgray)" %}{% include "includes/icons/ExpandPrompt.html" %}{% endwith %}
            </button>
        </div>

        <div class="fillhug fal-v2"><p class="hughug font-item-name color-textgray">{{comment.date|date}}</p></div>
    </div>
    {% endfor %}

    <form class="hugfill fal-h8 comment-form sec2" method="post" action="{{url_for('FilesView:add_comment', id=file._id)}}">
        <div class="hugfill fal-v7 sec_5">
            {% if analysis %}
            <input type="hidden" name="analysis" value="{{analysis._id}}" />
            {% endif %}

            {% if current_user.has_permission('add_probable_name') %}
            <div class="hugfill fal-h4 input-frame">
                <input class="hugfill font-item-name" type="text" class="form-control" name="probable_name" value="" placeholder="Probable malware family name, optional">
            </div>
            {% endif %}

            <div class="hugfill fal-h4 input-frame">
                <textarea class="hugfill font-item-name" type="text" name="comment" placeholder="Comment" required></textarea>
            </div>
        </div>

        <div class="fillhug fal-v5 sec">
            <label class="hughug fal-h5 color-textgray help sec_5">
                <div class="hugfill fal-v7 message">
                    <p class="hugfill font-item-name">When enabled, the analyst will be notified by mail about your comment.</p>
                </div>
                {% with stroke = "var(--color-textgray)" %}{% include "includes/icons/Help.html" %}{% endwith %}
                <p class="hughug font-item-name color-textgray">Notify</p>
                <input type="checkbox" name="notify" unchecked>
            </label>
            <button type="submit">
                {% include "includes/icons/Send.html" %}
            </button>
        </div>
    </form>
</div>